<div class="top">

	<div class="top_bj">
		<div class="logo"><a href="../index/"><img src="{&TEMP}/images/include/logo.jpg" alt="MONSTER" /></a></div>
		<div class="top_right">
			<div class="top_link"><img src="{&TEMP}/images/include/weibo.png" /><a href="http://weibo.com/monsterchina" target="_blank">新浪微博</a> ·<a href="http://monster.tmall.com/" target="_blank">淘宝商城</a> ·<a href="http://www.monstercable.com/" target="_blank">全球站点</a> ·<a href="../../ft/index/">繁体</a></div>
			
			<div class="dh_menu">
				<div class="menu">
					<ul id=treemenu1>
						<li><a href="../headphones/" id="headphones">时尚耳机</a>
							<ul style="width:730px; margin-left:-186px;">
								
								<li class="dh_logo"><a href="../headphones/index.asp"><img src="{&TEMP}/images/include/dh_img2.jpg" border="0"/></a></li>
								<li class="dh_logo"><a href="../headphones/purity.asp"><img src="{&TEMP}/images/include/dh_img1.jpg" border="0"/></a></li>
								<li class="dh_logo"><a href="../headphones/gratitude.asp"><img src="{&TEMP}/images/include/dh_img3.jpg" border="0"/></a></li>
								<li class="dh_logo"><a href="../headphones/diesel.asp"><img src="{&TEMP}/images/include/dh_img4.jpg" border="0"/></a></li>
								<li class="dh_logo"><a href="../headphones/turbine.asp"><img src="{&TEMP}/images/include/dh_img5.jpg" border="0"/></a></li>
								<li class="dh_logo"><a href="../headphones/isport.asp"><img src="{&TEMP}/images/include/dh_img7.jpg" border="0"/></a></li>
								<li class="dh_logo"><a href="../headphones/diamondtears.asp"><img src="{&TEMP}/images/include/dh_img8.jpg" border="0"/></a></li>
								<li class="dh_logo"><a href="../headphones/ncredible.asp"><img src="{&TEMP}/images/include/dh_img9.jpg" border="0"/></a></li>
							</ul>
						</li>
						<li><a href="../products/" id="products">魔声产品</a>
							<ul style="width:647px; margin-left:-207px;">
								<li class="picli"><a href="../products/products.asp?idtree=.0.1.3." class="dh_pic"><img src="{&TEMP}/images/include/dh_pic1.jpg" />耳 机</a></li>
								<li class="picli"><a href="../products/products.asp?idtree=.0.1.4." class="dh_pic"><img src="{&TEMP}/images/include/dh_pic2.jpg" />家庭影音</a></li>
								<li class="picli"><a href="../products/products.asp?idtree=.0.1.5." class="dh_pic"><img src="{&TEMP}/images/include/dh_pic3.jpg" />数码音乐<span>暂无</span></a></li>
								<li class="picli"><a href="../products/products.asp?idtree=.0.1.6." class="dh_pic"><img src="{&TEMP}/images/include/dh_pic4.jpg" />游戏天地<span>暂无</span></a></li>
								<li class="picli"><a href="../products/products.asp?idtree=.0.1.182." class="dh_pic"><img src="{&TEMP}/images/include/dh_pic5.jpg" />时尚生活<span>暂无</span></a></li>
								<li class="picli"><a href="../products/products.asp?idtree=.0.1.183." class="dh_pic"><img src="{&TEMP}/images/include/dh_pic6.jpg" />商务休闲<span>暂无</span></a></li>
								<li class="picli"><a href="http://www.monstercable.com.cn/conference/cn/index/index.asp" target="_blank" class="dh_pic"><img src="{&TEMP}/images/include/dh_pic7.jpg" />姚明魔声</a></li>
							</ul>
						</li>
						<li><a href="../service/" id="service">技术支持</a>
							<ul class="dh_font" style="width:735px; left:-400px;">
								<li><a href="../service/salenetwork.asp">&middot; 何处购买</a></li>
								<li><a href="../service/refuse.asp">&middot; 拒绝假货</a></li>
								<li><a href="../service/fangwei.asp">&middot; 防伪查询</a></li>
								<li><a href="../service/question.asp">&middot; 常见问题</a></li>
								<li><a href="../service/easy.asp">&middot; 魔声小贴士</a></li>
								<li><a href="../service/contactus.asp">&middot; 联系我们</a></li>
								<li><a href="../service/vip.asp">&middot; 会员注册</a></li>								
							</ul>
						</li>
						<li><a href="../news/" id="news">新闻中心</a>
							<ul class="dh_font" style="width:420px; left:-190px;">
								<li><a href="../news/index.asp?idtree=.0.40.185.">&middot; 重要公告</a></li>
								<li><a href="../news/index.asp?idtree=.0.40.50.">&middot; 魔声动态</a></li>
								<li><a href="../news/index.asp?idtree=.0.40.51.">&middot; 媒体报道</a></li>
								<li><a href="../news/video.asp">&middot; 视频中心</a></li>
							</ul>
						</li>
						<li><a href="../about/" id="about">走进魔声</a>
							<ul class="dh_font" style="width:420px; left:-295px;">
								<li><a href="../about/">&middot; 魔声公司</a></li>
								<li><a href="../about/introduction.asp">&middot; 魔声历史</a></li>
								<li><a href="../about/history.asp">&middot; 魔声大事纪</a></li>
								<li><a href="../about/responsibility.asp">&middot; 社会责任</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			
			
		</div>
	</div>
</div>