<script type="text/javascript" src="{&STATIC}/js/changeimages.js"></script>
<div id=imgADPlayer></div>
<script> 
	PImgPlayer.addItem( "ff", "ff", "ff"); 
	
	PImgPlayer.addItem( "图片一", "#", "{&TEMP}/images/products/02.jpg"); 
	
	PImgPlayer.addItem( "图片一", "#", "{&TEMP}/images/products/01.jpg"); 
	
	PImgPlayer.addItem( "图片一", "#", "{&TEMP}/images/products/03.jpg"); 
	
	PImgPlayer.addItem( "图片一", "#", "{&TEMP}/images/products/01.jpg"); 
	
	PImgPlayer.init( "imgADPlayer", 226, 186 );   
</script>
<div class="w100 mart35">
<iframe width="227" height="600" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=220&height=600&fansRow=2&ptype=1&speed=0&skin=10&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=2171438850&verifier=b3593ceb&dpc=1"></iframe>
</div>