@charset "utf-8";
body{margin:0; padding:0; font-size:12px; color:#9A9A9A; font-family:Arial,'宋体'; line-height:150%; background:#020103;}
ul,li,ol,dl,dt,dd,form,input{margin:0; padding:0; list-style:none;}
input,select,textarea{ color:#333; font-size:12px;font-family:Arial; }
p,div,font{font-family:Arial,'宋体'; }
img{border:0;}
a{color:#9A9A9A;text-decoration: none;}
a:hover{color:#666;}

.lh200{line-height:200%;}

.fl{float:left;}
.fr{float:right;}
.w100{width:100%; overflow:hidden;}
.w960{width:960px; margin:0 auto;overflow: hidden;}
.w470{width:470px;overflow: hidden;}
.w200{width:200px;overflow: hidden;}
.w920{width:920px;overflow: hidden;}
.w670{width:670px; margin:0 auto;overflow: hidden;}
.w677{width:677px;overflow: hidden;}
.w680{width:680px;overflow: hidden;}
.w1000{width:1000px; overflow:hidden; margin:0 auto;}
.w30{width:30px;}
.h30{height:30px;}
.h23{height:23px; line-height:23px;}

.mart5{margin-top:5px;}
.mart7{margin-top:7px;}
.mart10{margin-top:10px;}
.mart15{margin-top:15px;}
.mart20{margin-top:20px;}
.mart25{margin-top:25px;}
.mart35{margin-top:35px;}
.marl5{margin-left:5px;}
.marl10{margin-left:10px;}
.marl20{margin-left:20px;}
.marl15{margin-left:15px;}
.marr5{margin-right:5px;}
.marr10{margin-right:10px;}
.marr20{margin-right:20px;}
.marb5{margin-bottom:5px;}
.marb10{margin-bottom:10px;}
.marb15{margin-bottom:15px;}

.padb10{padding-bottom:10px;}
.padt25{padding-top:25px;}
.txt_cen{text-align:center;}
.txt_left{text-align:left;}
.txt_right{text-align:right;}
.txt_line{text-decoration:underline;}

.font14red{font-size:14px; font-weight:bold; color:#BD0020;}
.font_red{color:#f00;}
.font_time{color:#666666; font-size:12px;}
.font_redlink{color:#DF233C; text-decoration:underline;}
.font_newslink{color:#826E42; text-decoration:underline;}
.font_yellow{color:#F2DC93;}
.font14b{font-size:14px;}

.top{background:url(../images/include/top_bj.jpg) center top #010104; height:73px;overflow:hidden;}
.top_bj{background:url(../images/include/top.jpg) no-repeat; width:1000px; height:73px; margin:0 auto;}
.logo{width:325px; height:73px; float:left;}
.top_right{float:left; width:675px; height:73px;}
.top_link{float:left; margin-right:20px; color:#F2DA94; width:655px; text-align:right;}
.top_link a{color:#F2DA94; padding-left:5px;}
.top_link a:hover{text-decoration:underline;}


.dh_menu{width:655px; overflow:hidden; z-index:2; overflow:hidden;  height:30px; float:left; text-align:left; margin-top:10px;}
.menu{width:540px;margin:auto;z-index:2; position:absolute; margin-left:130px;}
	.menu ul {}
	.menu ul li {font-size:12px;font-weight:bold;float:left;position: relative; background:url(../images/include/dh_line.png) no-repeat right; width:105px;}
	.menu ul li a{color:#fff;display:block; width:102px; text-align:center; line-height:30px;  height:38px;  font-size:14px; font-family:"微软雅黑"; overflow:hidden; text-decoration:none; cursor:pointer; z-index:2}
	.menu ul li a:hover {text-decoration: none; color:#EFE457; background:url(../images/include/jt.gif) no-repeat bottom center;}
	.menu ul li ul{background:url(../images/include/dh_tm.png); height:84px; overflow:hidden;position: absolute;  display:none; padding:5px 0px 0px 2px;}
	.menu ul li ul li{background:none;}
	.menu ul li ul .picli{width:90px; height:90px; float:left; margin-left:1px; margin-right:1px;}
	.menu ul li ul .picli .dh_pic{background:url(../images/include/dh_bj.jpg) no-repeat; width:90px; height:80px; text-align:center; float:left; display:block; font-size:12px; font-weight:normal; line-height:15px; font-family:Arial;}
	.menu ul li ul .picli .dh_pic:hover{background:url(../images/include/dh_bj.jpg) no-repeat;}
	.menu ul li ul .picli .dh_pic div{height:62px;}
	.menu ul li ul .picli span{color:#f00;}
	
	.menu ul li ul .dh_logo{width:89px; height:79px; float:left; margin-left:1px; margin-right:1px; overflow:hidden; padding-left:0px;}
	.menu ul li ul .dh_logo a{height:79px; padding-left:0; margin-left:0;width:89px; display:block;}
	
	
	
	.menu ul li .dh_font{background:url(../images/include/dh_tm.png);  overflow:hidden;position: absolute; display:none; width:735px; padding:0px; height:auto;}
	.menu ul li .dh_font li{height:25px;float:left; line-height:25px; width:105px;}
	.menu ul li .dh_font li a{font-size:12px; font-family:'宋体'; font-weight:normal; color:#D3D2D2; text-align:left; line-height:25px; height:25px; width:100px; display:block; border-bottom:1px dotted #D3D2D2; padding-left:5px; }
	.menu ul li .dh_font li a:hover{background:url(../images/include/dh_hover.gif) repeat-x; font-weight:bold; color:#C71632;}
	
	
.index_left{width:284px; height:155px; float:left; background:url(../images/index/index_left.png) no-repeat;}
.index_left form{margin-left:18px; margin-top:88px;}
.index_left div{text-align:left;}
.index_left .inputstyle{border:1px solid #342A1B; background:none; height:18px; line-height:18px; padding:1px; width:151px;}
/*首页下拉菜单*/
#uboxstyle .select_box{width:155px;height:22px; float:left;}
#uboxstyle div.tag_select{display:block;color:#fff;width:155px;height:22px;background:transparent url("../images/index/ubox-select.gif") no-repeat 0 0;padding:0 5px;line-height:22px;}
#uboxstyle div.tag_select_hover{display:block;color:#fff;width:155px;height:22px;background:transparent url("../images/index/ubox-select.gif") no-repeat 0 -22px;padding:0 5px;line-height:22px;}
#uboxstyle div.tag_select_open{display:block;color:#fff;width:155px;height:22px;background:transparent url("../images/index/ubox-select.gif") no-repeat 0 -44px;padding:0 5px;line-height:22px;}
#uboxstyle ul.tag_options{position:absolute;padding:0;margin:0;list-style:none;background:transparent url("../images/index/ubox-select.gif") no-repeat left bottom;width:155px;padding:0 0 5px;margin:0;}
#uboxstyle ul.tag_options li{background:transparent url("../images/index/ubox-select.gif") repeat-y 0 -66px;display:block;width:155px;padding:0 5px;height:22px;text-decoration:none;line-height:20px;color:#fff;}
#uboxstyle ul.tag_options li.open_hover{background:transparent url("../images/index/ubox-select.gif") no-repeat 0 -88px;color:#fff}
#uboxstyle ul.tag_options li.open_selected{background:transparent url("../images/index/ubox-select.gif") no-repeat 0 -88px;color:#fff}

.index_right{width:712px; height:155px; float:left; margin-left:4px; background:url(../images/index/index_right.png) no-repeat;}	

.index_news{width:330px; margin-left:10px; float:left; margin-top:8px;}
.index_menu{width:100%; border-bottom:1px solid #3B343E; color:#C3AB86; font-family:"微软雅黑"; height:25px; font-size:14px;}
.index_menu span{color:#ADADAD; font-size:11px; font-family:"Times New Roman";}
.index_news_list{width:330px; margin-top:15px;}
.index_news_list li{border-bottom:1px dotted #666169; background:url(../images/index/jt.png) no-repeat 5px 8px; padding-left:15px; height:23px; line-height:23px;}
.index_news_list li a{color:#676369;}

.index_prod{width:340px; margin-left:20px; float:left; margin-top:8px;}


.bottombj{background:url(../images/include/bottom_bj.jpg) center no-repeat #020202; height:65px;}
.bottom_bj{margin:0 auto; height:55px; padding-top:7px; color:#505050; width:1000px; position:relative}
.bottom_bj a{color:#4c3e2c;}
.index_box{position:absolute; width:1000px; z-index:100; margin-top:-160px; left:0} 

.ny_bj{background:url(../images/include/nybj.jpg) no-repeat top center; overflow:hidden; width:100%;}
.ny_box{width:1000px; margin:28px auto 42px auto; border:1px solid #171717; background:url(../images/include/bj.png); overflow:hidden; padding-bottom:20px;min-height:1000px;}
*html .ny_box{width:1000px; margin:28px auto 42px auto; border:1px solid #171717; background:url(../images/include/bj.png); overflow:hidden; padding-bottom:20px;}
.ny_left{width:715px; float:left; margin:20px; overflow:hidden;background:url(../images/include/line_right.png) top right no-repeat;min-height:1000px;}
*html .ny_left{width:715px; float:left; margin:15px 15px 15px 10px; overflow:hidden;background:url(../images/include/line_right.png) top right no-repeat;}
.location{background:url(../images/include/line.png) no-repeat left bottom; line-height:35px; height:35px; font-size:13px; width:677px;}
.location span{color:#C90E2C}
.location img{vertical-align:middle;}

.prodtype{float:left; width:430px; margin-left:15px;}
.prodtype dt{margin-top:20px; font-size:14px; font-family:"微软雅黑"; font-weight:bold; color:#fff; line-height:25px; height:25px;}
.prodtype dd{background:url(../images/products/prodtype_bj.png) no-repeat top; width:430px; padding-top:15px;}
.prodtype dd .imgtype{float:left; width:115px; height:187px;}
.prodtype dd span{float:left; width:290px; margin-left:15px; font-size:13px; color:#939393; display:block; padding-top:15px;}

.prodtype_listbox{width:212px; position:absolute;  margin-left:460px; float:right;}
*html .prodtype_listbox{width:212px; position:absolute;  margin-left:30px; float:right;}
*+html .prodtype_listbox{width:212px; position:absolute;  margin-left:30px; float:right;}
.prodtype_listbox ul{width:180px; margin-left:24px; margin-top:10px;}
.prodtype_listbox ul li{background:url(../images/products/dian.gif) no-repeat 10px 10px;border-bottom:1px dotted #6A6A6A; padding-left:20px; padding-right:10px; width:150px; line-height:23px; height:23px;}
.prodtype_listtop{width:212px; background:url(../images/products/type_right_top.png) top left no-repeat; overflow:hidden; padding-bottom:5px;}
.prodtype_listbottom{background:url(../images/products/type_right_bottom.png) no-repeat bottom; width:212px; height:15px; overflow:hidden}
.uppage{margin-top:20px; overflow:hidden; border-top:1px dashed #464646; padding-top:15px; height:35px; text-align:center; margin-bottom:30px; width:680px;}
.uppage a{padding-right:10px; color:#464646;}
.uppage .curr{color:#FF7F10;}

.type{width:630px; background:url(../images/products/typebj.png) repeat-x; overflow:hidden; padding:25px; line-height:200%;}
.type strong{color:#D5A140;}
.type a{margin-right:10px;}
.type a:hover{color:#fff;}
.type a span{padding:1px 5px 1px 5px; background:#7C0000;}


.prodtype_list{float:left; width:680px; border-top:1px solid #342F36; padding-top:20px; padding-bottom:20px;}
.prodtype_list dt{width:130px; float:left;}
.prodtype_list dt img{width:116px; height:134px;}
.prodtype_list dd{width:530px; float:left; margin-left:10px;}
.prodtype_list dd span{color:#BD001E; font-size:14px; font-weight:bold;}



.ny_right{float:left;  width:230px;  margin-top:18px;}
.right_search{width:100%; overflow:hidden;}
.right_search input{float:left;}
.input_style{border:1px solid #3D3D3D; text-align:center; background:#1D1D1D; width:165px; height:22px; line-height:22px; margin-right:7px; color:#5F5F5F}


#imgADPlayer{border:1px solid #535353; border-bottom:none; margin-top:20px;}
#imgADPlayer ul{border:1px solid #535353; border-top:none;}

.prod_list_title{font-size:18px; font-family:"微软雅黑"; color:#F0A322; font-weight:bold; line-height:30px; height:40px; width:677px; margin-top:25px; margin-bottom:15px;}
.prod_list_bj{background:url(../images/products/prod_list_bj.png) no-repeat; height:211px; width:677px; margin-top:20px;}

.border_red{border-bottom:1px solid #BD0020;}
.prod_detail_title{font-size:18px; font-family:"微软雅黑"; color:#F0A322; font-weight:bold; line-height:30px; height:40px; width:677px; margin-top:25px; }
.prod_detail_pic{width:677px; border:1px solid #141012; border-top:none; height:570px; background:url(../images/include/bj.png); text-align:center;}

.intro_box{width:677px; margin-top:30px; border-top:1px solid #BD0020; padding-top:40px; color:#939393;}
.subtab{font-size:12px; font-weight:normal; cursor:pointer; color:#fff;}
.subtab span{font-size:12px; font-weight:normal; cursor:pointer; color:#fff; padding-left:5px; padding-right:5px;}
.subtab .selected{font-weight:bold; color:#FF0000;}


.prod_list{width:228px;}
.prod_list li{height:160px; padding-top:20px; padding-bottom:20px; border-bottom:1px dotted #6E6666; text-align:center}
.prod_list li img{width:110px; height:128px;}
.prod_list li span{color:#BE5768;}


/*内页菜单*/
.right_menu{background:url(../images/include/right_menu_bj.jpg) no-repeat #060606; width:225px; border:1px solid #000; overflow:hidden; margin-bottom:15px;}
.right_menu_list{width:200px; margin:10px auto auto auto; margin-bottom:15px; overflow:hidden;}
.right_menu_list li{border-bottom:1px dotted #717171;}
.right_menu_list li a{height:28px; line-height:28px; width:165px; background:url(../images/include/jt.png) no-repeat 17px 12px; padding-left:35px; display:block;}
*html .right_menu_list li a{height:28px; line-height:28px; width:165px; background:url(../images/include/jt.png) no-repeat 17px 12px; padding-left:35px; display:inline;}
.right_menu_list li a:hover{background:url(../images/include/menubj_on.jpg) no-repeat; font-weight:bold; color:#DF233C;}

.ny_title{font-size:18px; font-family:"微软雅黑"; color:#F0A322; font-weight:bold; line-height:30px; height:40px; width:677px; margin-top:25px;}

.askque{border:1px solid #65633F; background:none; height:18px; line-height:18px; padding:1px; width:420px; color:#9a9a9a;}
.askque1{border:1px solid #65633F; background:none; line-height:18px; padding:1px; width:420px; color:#9a9a9a}

.list{}
.list li{border-bottom:1px dotted #717171; line-height:28px; height:28px;  background:url(../images/include/jt.png) no-repeat 12px 12px;padding-left:30px;}
.list li span{float:right;}
.list li a:hover{color:#fff;}

.but_style{background:url(../images/service/but_bj.jpg) no-repeat; height:22px; width:70px; border:none; cursor:pointer; color:#fff; font-size:12px; text-align:center;}
.salestab{border-top:1px solid #717171;border-right:1px solid #717171;}
.salestab td{text-align:center; border-bottom:1px solid #717171; border-left:1px solid #717171; padding:1px;}
.salestab td a{color:#DF233C;}

.refuselist{}
.refuselist li{padding:10px 0px 10px 0px; line-height:200%; border-bottom:1px dotted #717171}
.refuselist li span{color:#BD001E; font-size:14px; font-weight:bold;}

.contacttitle{color:#F2DC93; font-weight:bold; background:#383838; padding:4px 5px 2px 5px;}


.news_list{float:left; width:680px; border-top:1px solid #342F36; padding-top:30px; padding-bottom:20px;}
.news_list dt{width:182px; height:122px; float:left;}
.news_list dt img{width:180px; height:120px; border:1px solid #4D4B51;}
.news_list dd{width:475px; float:left; margin-left:20px;}
.news_list dd span{color:#F1DA96; font-size:12px; font-weight:bold;}


.video_list{margin-top:30px; overflow:hidden; margin-left:20px;}
*html .video_list{margin-top:30px; overflow:hidden; margin-left:0px;}
.video_list li{float:left; width:176px; height:165px; text-align:center; margin-left:20px; margin-right:20px; margin-bottom:30px;}
.video_list li .imgbj{background:url(../images/news/video_bj.png) no-repeat; width:166px; height:120px; padding:5px; display:block; margin-bottom:8px;}
.video_list li .imgbj img{width:166px; height:120px;}


.historytab{}
.historytab td{border-bottom:1px dotted #717171;  padding:1px; padding-top:10px;}
.historytab td a{color:#DF233C;}

/*时尚耳机*/
.list_logo{width:1000px; background:url(../images/headset/bj0.jpg) no-repeat; height:59px;}
.headset_top{background:url(../images/headset/bj.png) left top no-repeat; width:100%; overflow:hidden; padding-top:20px;}
.prod_pic_left{float:left; width:520px; height:370px; overflow:hidden;}
.prod_pic_left .img{width:520px; height:370px;}

.headset_more{position:absolute;float:right; margin-left:400px; margin-top:300px;}
.headset_intro{width:450px; float:left; margin-left:15px;}
*html .headset_intro{width:420px; float:left; overflow:hidden;}
.headset_title{background:url(../images/products/prodtype_bj.png) no-repeat left bottom ; overflow:hidden; font-size:13px; font-weight:bold; color:#E31635; padding-bottom:30px; padding-left:20px;}
*html .headset_title{background:url(../images/products/prodtype_bj.png) no-repeat left bottom ; overflow:hidden; font-size:13px; font-weight:bold; color:#E31635; padding-bottom:30px; }

/*主窗*/
#Scroll{width:420px;height:280px;}
/*左边内容区*/
#ScroLeft{float:left;height:100%;width:400px;overflow:hidden}
/*滚动条背景*/
#ScroRight{position:relative;float:right;height:100%;width:1px;background:#282A33;}
/*滚动条*/
#ScroLine{position:absolute;z-index:1;top:0px;left:0px;width:100%;height:15px; width:5px;overflow:hidden;background:#6C5029; margin-left:-2px; cursor:pointer;}


.peijian{background:url(../images/headset/bj2.png) top center no-repeat; height:361px; width:1000px; margin-top:40px;}

.peijian_font{width:450px; float:left; margin-top:110px; margin-left:55px; color:#A1A1A1;}
*html .peijian_font{width:450px; float:left; margin-top:110px; margin-left:25px; color:#A1A1A1;}

.peijian_pic{width:455px; height:260px; float:left; margin-left:20px;}

.head_video{background:url(../images/headset/bj_vodeo.png) no-repeat top right; width:1000px; overflow:hidden; height:350px;}
.headvideo_left{float:left; width:320px; height:248px; margin-left:40px; background:#080809; margin-top:26px;}
*html .headvideo_left{float:left; width:320px; height:248px; margin-left:20px; background:#080809; margin-top:26px;}
.headvideo_right{margin-left:70px; width:500px; float:left; margin-top:45px;}

/*图片*/
.photo{width:540px; margin-left:460px; overflow:hidden; margin-top:-20px; height:120px;}

.isport-carousel-photos {MARGIN: 0px 0px 0px 15px; WIDTH: 300px; HEIGHT: 100px}
UL.isport-carousel-photos-list {WIDTH: 117px; HEIGHT: 100px; margin-left:5px;}
UL.isport-carousel-photos-list img{width:100px; height:110px;}
.isportphotos-prev {Z-INDEX: 2; POSITION: absolute; OUTLINE-STYLE: none; TOP: 40px; LEFT: -20px; -moz-outline-style: none}
.isportphotos-next {Z-INDEX: 2; POSITION: absolute; OUTLINE-STYLE: none; TOP: 40px; LEFT: 470px; -moz-outline-style: none}



/*视频滚动*/
.isport-carousel-video {MARGIN: 0px 0px 0px 15px; WIDTH: 300px; HEIGHT: 68px}
UL.isport-carousel-video-list {WIDTH: 117px; HEIGHT: 68px; margin-left:5px;}
.isportvideo-prev {Z-INDEX: 2; POSITION: absolute; OUTLINE-STYLE: none; TOP: 20px; LEFT: -15px; -moz-outline-style: none}
.isportvideo-next {Z-INDEX: 2; POSITION: absolute; OUTLINE-STYLE: none; TOP: 20px; LEFT: 470px; -moz-outline-style: none}
*html .isportvideo-prev img,.isportvideo-next img{width:11px; height:22px;}

UL.video-list li{WIDTH: 117px; HEIGHT: 68px; margin-left:5px; float:left;}



/*评论*/
.pingl{width:880px; background:url(../images/headset/bj3.png) repeat-x; height:193px; margin-top:20px; margin-left:35px; padding:15px 25px 0px 25px}
*html .pingl{width:880px; background:url(../images/headset/bj3.png) repeat-x; height:193px; margin-top:20px; margin-left:35px; padding:5px 25px 25px 25px}
.pingl_title{width:880px; color:#FF123A; font-size:14px; font-weight:bold; height:25px; line-height:25px; border-bottom:1px solid #4B4949;}

.quotes {MARGIN: 20px 0px 0px 0px; WIDTH: 880px; HEIGHT: 130px}
UL.quotes-list {WIDTH: 300px; HEIGHT: 130px; }
UL.quotes-list li{padding:10px; height:130px; border:1px solid #333637; border-bottom:none; margin-right:15px;}
.famousquote-prev {Z-INDEX: 2; POSITION: absolute; OUTLINE-STYLE: none; TOP: 20px; LEFT: -15px; -moz-outline-style: none}
.famousquote-next {Z-INDEX: 2; POSITION: absolute; OUTLINE-STYLE: none; TOP: 20px; LEFT: 470px; -moz-outline-style: none}


.gratitude{}
.gratitude li{background:url(../images/index/menu_pic.png) 0px 7px no-repeat; padding-left:20px;}
.gratitude li span{color:#F2DC93;}


.sitemap{width:100%; margin-top:20px;}
.sitemap dt{background:url(../images/sitemap/nic.png) no-repeat left; padding-left:20px; font-size:14px; font-family:"微软雅黑"; overflow:hidden; width:100%;}
.sitemap dt a{color:#EAA20F;}
.sitemap dd{width:677px; margin-top:10px; overflow:hidden;}
.sitemap dd a{background:#373737; padding: 1px 16px 1px 16px; border:1px solid #777; color:#A1A1A1; margin-right:15px; float:left; margin-bottom:15px;white-space:nowrap;}

